<% layout('layouts/boilerplate') %>

    <div class="container">
        <h1>Edit</h1>
        <div class="form-group">
            <form method="POST" action="/journal/<%=scripture.id%>?_method=PATCH">
                <textarea name="scripture" id="" cols="30" rows="5"><%= scripture.scripture %></textarea>
                <button class="btn btn-success btn-sm">Save</button>
            </form>
        </div>
    </div>