<% layout('layouts/boilerplate') %>

    <div class="container mb-5">
        <h1>My Journal</h1>
        <p>
            My Bible Journal gives you a very private and <b>FREE</b> place to record your
            favorite scriptures. You can use it as frequently or infrequently as you
            would like. And - don't forget that it is absolutely <b>FREE</b>!
        </p>
        <h2>Here are a few entries to get you started</h2>
        <div>
            <ul>
                <% for(let s of scriptures) { %>
                    <li>
                        <a href="/journal/<%= s.id %>">
                            <%=s.scripture%>
                        </a>
                    </li>
                    <% } %>
            </ul>
        </div>
        <form action="journal/new">
            <button class="btn btn-info btn-sm">New Entries</button>
        </form>
    </div>