<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/journal.css">
    <title>New Entry</title>
</head>

<body>
    <h1>Enter your new favorite Scripture</h1>
    <label for="newScripture">
        <form action="/journal" method="POST">
            <textarea name="scripture" id="scripture" cols="30" rows="10"></textarea>
    </label>
    <button>Submit</button>
    </form>
    <a href="/journal">Back to Home</a>
</body>

</html>