<% layout('layouts/boilerplate') %>

    <h1>Enter your new favorite Scripture</h1>
    <label for="newScripture">
        <form action="/journal" method="POST">
            <textarea name="scripture" id="scripture" cols="30" rows="5"></textarea>
    </label>
    <button class="btn btn-primary btn-sm">Submit</button>
    </form>
    <a href="/journal">Back to Home</a>